input{
    margin-top: 20px;
}
.jodol{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(85, 83, 83);
}
body{
    background: radial-gradient(circle, rgba(240,184,231,1) 11%, rgba(211,184,230,1) 48%, rgba(135,173,218,1) 100%);
}