<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../static/home/style2.css">
    <link rel="stylesheet" href="../../static/home/mobile-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    {%block meta%} {%endblock meta%}
    
</head>

<body>
    
        
    <div class="container-fluid p-0" >
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-primary" >
            
            <a class="navbar-brand" href="{% url 'home:index' %}"> 
              {% if user.is_authenticated %}
              Hello  {{request.user}}
              {% else %}
              {% if number == 1  %} Story3 {% endif %}{% if number == 2  %} Story3 
              {% endif %}{% if number == 3 %} Story1 {% endif %}{% if number == 4 %} Story5 {% endif %}
              {% if number == 5 %} Story6 {% endif %}
              {% if number == 6 %} Story7 {% endif %}
              {% if number == 7 %} Story8 {% endif %}
              {% endif %}
               </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
              <ul class="navbar-nav">

                  

                <li class="nav-item {% if number == 1 %} active {% endif %}">
                  <a class="nav-link" href="{% url 'home:index' %}">Home </a>
                </li>
                
                <li class="nav-item {% if number == 2 %} active {% endif %}">
                  <a class="nav-link" href="{% url 'home:index2' %}">More About Me</a>
                </li> 
                <li class="nav-item {% if number == 3 %} active {% endif %}">
                    <a class="nav-link" href="{% url 'home:index4' %}">Story 1</a>
                  </li> 
                  <li class="nav-item {% if number == 4 %} active {% endif %}">
                    <a class="nav-link" href="{% url 'home:jadwal' %}">Jadwal</a>
                  </li> 
                  <li class="nav-item {% if number == 5 %} active {% endif %}">
                    <a class="nav-link" href="{% url 'templates:list' %}">Kegiatan</a>
                  </li>
                  <li class="nav-item {% if number == 6 %} active {% endif %}">
                    <a class="nav-link" href="{% url 'akordion:akordion' %}">Akordion</a>
                  </li> 
                  <li class="nav-item {% if number == 7 %} active {% endif %}">
                    <a class="nav-link" href="{% url 'search:search' %}">Search Book</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                  </li> 
                  {% else %}
                  <li class="nav-item {% if number == 8 %} active {% endif %}">
                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                  </li> 
                  {% endif %}
              </ul>
            </div>
          </nav>
    </div>
    
    
    

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    
    



    
    

</body>

</html>
