<!doctype html>
<html lang="en">
  {% extends 'home/base.html' %}
  {% load static %}
  {% block content %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style2.css' %}">
    <link rel="stylesheet" href="{% static 'home/mobile-style.css' %}">
    <title>Hello, world!</title>
  </head >
  <body >
    <header id="bgcolor">
        
        <div class="container-fluid text-center" id="more">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" id="stay" >
                Hello My Name is Rizky Musyaffa Fajari, I was born on February 24th 2001 in Jakarta, I really love playing games
                <a href=#card><img src="static/home/button2.png" id="button1"><img src="static/home/arrow2.png" id="arrow1"></a>
            </div>
            <div class="col-md-4"></div>
        </div> 
        </div>
          
      
    </header>
    <main>
      <section class="section-1">
        <div class = "container text-center" id="card">

            <div class="col-md-12" id="card1">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                      <h5 class="card-title mb-3">Education</h5>
                      <p class="card-text">SDN 03 KDW Jakarta</br>(2007-2013)</br>SMPN 174 Jakarta</br>(2013-2016)
                                           </br>SMAN 39 Jakarta</br>(2016-2019)</br>Universitas Indonesia</br>(2019-Now)</p>

                    </div>
                  </div>
            </div>

            <div class="col-md-12" id="card2">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                      <h3 class="card-title mb-3">Skills</h3>
                      <p class="card-text">Word</br>Excel</br>Power Point</p>
                      <h5 class="card-title mb-1">Still Learning on :</h5>
                      <p class="card-text">Java</br>Python</p>
                    </div>
                </div>
                
        </div>
        </div>
        </div>
      
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
  </body>
  {% endblock %}
</html>