<!DOCTYPE html>
<html lang="en">
{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Hello</title>
</head>
<body>
    <h1>Welcome Back With Me</h1>
    <img src = "static/home/286405.jpg" alt = "Ganteng" width="400" height="400" style="vertical-align:middle">
    <table>
        <tr>
            <td>Nama</td>
            <td>Rizky Musyaffa Fajari</td>
        </tr>
        <tr>
            <td>NPM</td>
            <td>1906350755</td>
        </tr>
        <tr>
            <td>Angkatan</td>
            <td>2019</td>
        </tr>
        <tr>
            <td>Hobi</td>
            <td>Rebahan</td>
        </tr>
        <tr>
            <td>Deskripsi Saya</td>
            <td>Baik Hati</td>
        </tr>
        <tr>
            <td>Tempat Kuliah</td>
            <td>FASILKOM UI</td>
        </tr>
        
        <tr>
            <td>Riwayat Pendidikan</td>
            <td>SMA</td>
        </tr>
        <tr>
            <td>Media Sosial</td>
            <td>Jieuniee(Steam), coupdegrace24(ID Line)</td>
        </tr>
    </table>
</body>
{% endblock %}
</html>