<!doctype html>
<html lang="en">
  {% extends "home/base.html" %}
  {% load static %}
  {% block content %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style2.css' %}">
    <link rel="stylesheet" href="{% static 'home/mobile-style.css' %}">
    <title>Hello, world!</title>
  </head >
  <body >
    <header id="moree">
        
        <div class="container-fluid p-0 text-left" >
            <div class="col-md-12 p-0" >
              <img src="static/home/mamang.jpg" width="31%" id="mamang" >
              <img src="static/home/bubble.png" width="25%" id ="bubble">
              <img src="static/home/welcome.png" width=25% id="welcome">
              <a href="https://www.instagram.com/zorbax_/" ><img src="static/home/insta.png" alt="" class="icon" id="insta"></a>
              <a href="https://line.me/ti/p/Jajgg2uONy" ><img src="static/home/line.png" alt="" class="icon" id="line"></a>
              <a href="https://steamcommunity.com/id/zorbaxxx/" ><img src="static/home/steam.png" alt="" class="icon" id="steam"></a>
            </div>
        </div>
          
      
      </header>
    <main>
      <section class="section-1">
        <div class = "container text-center">
          <div class="row">
            <div class="col-md-6">
              <div class="profile">
                <img src="static/home/profil.jpg" alt="Profile" id="profil">
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel text-left">
                <h1 class="high text-center">Biodata</h1>
                <p class="pt-3"><table id="tabel1">
                  <tr>
                      <td id="judul">Name</td>
                      <td id="jawab">Rizky Musyaffa Fajari</td>
                  </tr>
                  <tr>
                      <td id="judul">NPM</td>
                      <td id="jawab">1906350755</td>
                  </tr>
                  <tr>
                      <td id="judul">Occupation&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td id="jawab">College Student</td>
                  </tr>
                  <tr>
                      <td id="judul">Hobby</td>
                      <td id="jawab">Playing Games, Watch Movie</td>
                  </tr>
                  <tr>
                      <td id="judul">Study at</td>
                      <td id="jawab">University of Indonesia</td>
                  </tr>
                  <tr>
                      <td id="judul">Faculty</td>
                      <td id="jawab">Computer Science</td>
                  </tr>
              </table>
            </p>
              </div>
            </div>


          </div>
        </div>
      
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
  </body>
  {% endblock %}
</html>