{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'home/Story5.css' %}">

<body>
    <div class="container">
        <h1 class="text-center">
             Mata Kuliah Detail
        </h1>
        <p>
        </p>
    <br>
    <div class="row">
        {% if user.is_authenticated %}
    <table class="table table-bordered">
        
        {% for matkul in jadwal %}
            <tr>
                <td id="detail_matkul_keterangan">Nama Singkat Matkul</td>
                <td id="detail_matkul_penjelasan">{{matkul.nama_matkul}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Nama Panjang Matkul</td>
                <td id="detail_matkul_penjelasan">{{matkul.nama_matkul_panjang}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Nama Dosen</td>
                <td id="detail_matkul_penjelasan">{{matkul.nama_dosen}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Waktu Kelas</td>
                <td id="detail_matkul_penjelasan">{{matkul.jam_kelas}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Jumlah SKS</td>
                <td id="detail_matkul_penjelasan">{{matkul.sks}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Ruang Kuliah</td>
                <td id="detail_matkul_penjelasan">{{matkul.ruang}}</td>
            </tr>
        </table>
        </div>      
              <div class="text-center"><a class="btn btn-sm btn-info" href="{% url 'home:updatematkul' matkul.id %}">Update</a></div><br>
              <div class="text-center"><a class="btn btn-sm btn-danger" href="{% url 'home:deletematkul' matkul.id %}">Delete</a></div><br>
            
          {% endfor %}
        
          {% else %}
          <table class="table table-bordered">
        
            {% for matkul in jadwal %}
                <tr>
                    <td id="detail_matkul_keterangan">Nama Singkat Matkul</td>
                    <td id="detail_matkul_penjelasan">{{matkul.nama_matkul}}</td>
                </tr>
                <tr>
                    <td id="detail_matkul_keterangan">Nama Panjang Matkul</td>
                    <td id="detail_matkul_penjelasan">{{matkul.nama_matkul_panjang}}</td>
                </tr>
                <tr>
                    <td id="detail_matkul_keterangan">Nama Dosen</td>
                    <td id="detail_matkul_penjelasan">{{matkul.nama_dosen}}</td>
                </tr>
                <tr>
                    <td id="detail_matkul_keterangan">Waktu Kelas</td>
                    <td id="detail_matkul_penjelasan">{{matkul.jam_kelas}}</td>
                </tr>
                <tr>
                    <td id="detail_matkul_keterangan">Jumlah SKS</td>
                    <td id="detail_matkul_penjelasan">{{matkul.sks}}</td>
                </tr>
                <tr>
                    <td id="detail_matkul_keterangan">Ruang Kuliah</td>
                    <td id="detail_matkul_penjelasan">{{matkul.ruang}}</td>
                </tr>
            </table>
            </div>     
            {% endfor %}
            {% endif %}
      <div class="text-center">
        <a class="btn btn-sm btn-info" href="{% url 'home:jadwal' %}">Kembali</a>
      </div>
    </div>
</body>
{% endblock %}