{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/Story5.css' %}">
    <body>
        <div class="container">
            <h1 class="text-center">
                Daftar Mata Kuliah
            </h1>
            <p>
                
            </p>
        <br>
        {% if user.is_authenticated %}
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              
              <th scope="col">Matkul</th>
              <th scope="col">Dosen</th>
              <th scope="col">SKS</th>
              <th scope="col">Ruang Kelas</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>  
            </tr>
          </thead>
          <tbody>
            {% for matkul in jadwal %}
              <tr>
                <td>
                  <a href="{% url 'home:jadwal_detail' matkul.id %}">{{matkul.nama_matkul}}</a>
                </td>
                <td>
                  {{matkul.nama_dosen}}
                </td>
                <td>
                  {{matkul.sks}}
                </td>
                <td>
                  {{matkul.ruang}}
                </td>
                
                <td class="text-center"><a class="btn btn-sm btn-info" href="{% url 'home:updatematkul' matkul.id %}">Update</a></td>
                <td class="text-center"><a class="btn btn-sm btn-danger" href="{% url 'home:deletematkul' matkul.id %}">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="text-center">
          <a class="btn btn-sm btn-info" href='tambah'>TAMBAH</a>
        </div>
        {% else %}
        
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                
                <th scope="col">Matkul</th>
                <th scope="col">Dosen</th>
                <th scope="col">SKS</th>
                <th scope="col">Ruang Kelas</th>
              </tr>
            </thead>
            <tbody>
              {% for matkul in jadwal %}
                <tr>
                  <td>
                    <a href="{% url 'home:jadwal_detail' matkul.id %}">{{matkul.nama_matkul}}</a>
                  </td>
                  <td>
                    {{matkul.nama_dosen}}
                  </td>
                  <td>
                    {{matkul.sks}}
                  </td>
                  <td>
                    {{matkul.ruang}}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        
          
        </div>
        <br><br><br><br><br><br>
        
{% endblock %}