{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/Story5.css' %}">


<br><br><br><br><br><br>
<body>
<div class="container">
			<p>Apakah anda yakin ingin mata kuliah : {{matkul}}?</p>

			<form  action='' method="post">
				
                {% csrf_token %}
                <div class="text-center">
                    <input class="btn btn-danger" type="submit" name="Hapus">
                    <a class="btn btn-warning" href="/jadwal">Batal</a>
                </div>
				
			</form>	
</div>
{% endblock %}