{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/Story5.css' %}">
<br><br>
<body>

<div class="col">
	<form action="" method="post">
        <table class="table">
            {% csrf_token %}
            <thead class="thead-light">
              <tr>
                <th scope="row">Keterangan</th>
                <th scope="row">Data</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                {{form}}
              </tr>
              <tr>
            </table>
                <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Update">
                <a class="btn btn-lg btn-block btn-warning" href="/jadwal">Batal</a>
			</form>
        </div>

		
	
</div>


{% endblock content %}