{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/Story5.css' %}">
    <body >
        <div class="container">
            <h1>
                Tambah Data Mata Kuliah
            </h1>
        
        <form action="/tambahSubmisi/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleFormControlInput1">Nama Mata Kuliah</label>
              <input name="nama_matkul" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama Singkat Matkul" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nama Dosen / Pengajar</label>
                <input name="nama_dosen" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama Panggilan Dosen" required>
              </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Jumlah SKS</label>
              <select name="sks" class="form-control" id="exampleFormControlSelect1" required>
                <option>1 SKS</option>
                <option>2 SKS</option>
                <option>3 SKS</option>
                <option>4 SKS</option>
                <option>5 SKS</option>
                <option>6 SKS</option>
              </select>
            </div>
             <label for="exampleFormControlInput1">Ruang Kelas</label>
             <input name="ruang" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ruang Kelas" required>
             <div class="form-group">
              <label for="exampleFormControlInput1">Nama Mata Kuliah</label>
              <input name="nama_matkul_panjang" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama Panjang Matkul" required>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Waktu Kelas</label>
              <input name="jam_kelas" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hari Jam" required>
            </div>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-primary" value="Tambah">
            <a class="btn btn-lg btn-block btn-secondary" href="/jadwal">Batal</a>
            
            
            
            
          </form>
        </div>
        <br><br><br><br>
        </body>
    
{% endblock %}