{% extends "home/base.html" %}
{% load static %}
{% block meta %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<style>
    .pc {
        display: block;
    }
    .mobile {
        display: none;
    }
    @media screen and (max-width: 500px) {
        .pc {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
</style>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid p-3 my-3 text-center">
    <h1 style="margin-bottom: 0;">Profil Saya</h1>
</div>
<div class="container-fluid" style="background-color: #4ECDC4; padding: 50px 20px 40px;">
    <div class="pc">
        <div class="form">
            <div class="form-group">
            <p style="margin-bottom: 0;"><b>Username:</b><br></p>
            <input class="form-control" type="text" placeholder="{{ user.username }}" readonly><br>
            <p style="margin-bottom: 0;"><b>Nama Depan:</b><br></p>
            <input class="form-control" type="text" placeholder="{{ user.first_name }}" readonly><br>
            <p style="margin-bottom: 0;"><b>Nama Belakang:</b><br></p>
            <input class="form-control" type="text" placeholder="{{ user.last_name }}" readonly><br>
            <p style="margin-bottom: 0;"><b>Email:</b><br></p>
            <input class="form-control" type="text" placeholder="{{ user.email }}" readonly>
            </div>
        </div>
    </div>
    <div class="mobile">
        <div class="container-fluid">
            <p><b>Username:</b><br>{{ user.username }}</p>
            <p><b>E-mail:</b><br>{{ user.email }}</p>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid px-md-5 py-2 pt-4 px-4 my-3" style="background-color: #4ECDC4;">
    <div class="p-md-5 pb-2 pt-1 text-center">
        <h3 style="color: #0E434B; line-height: 1.3;"><b>Login untuk melihat profil akun Anda.</b></h3><br>
    <a class="btn btn-warning btn-lg" href="/accounts/login/?next={{ request.path }}">Login</a><br><br>
    <p>Belum punya akun? <a href="{% url 'register' %}">Buat akun baru</a></p>
    </div>
</div>
{% endif %}
{% endblock content %}