<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}
{% block content %}
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Hello World!</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <link href="{% static 'styleakordion.css' %}" rel="stylesheet" type="text/css">
  <script src = "{% static 'akordion.js'%}"></script>
  
</head>
<body>
  <main class = "container" >

    <body>
      <h1 class="text-center">Rizky's Story 7</h1>

      <div class="accordion" id="accordion">

        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Aktivitas Saat Ini
              <div class="move">
              <div class="btn move-up">↑</div>
              <div class="btn move-down">↓</div>
          </div></h1>
 
          </div>
          <p class="text">
            Aktivitas saya saat ini adalah saya sedang sibuk main game dan mengerjakan tugas PPW dengan semangat yang membara
          </p>
        </div>
  
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Pengalaman Kepanitiaan
              <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div>
            </h1>
  
          </div>
          <p class="text">
            Kepanitiaan zakat dan qurban di lingkungan tempat tinggal
          </p>
          
          
        </div>
  
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Pengalaman Organisasi
              <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div>
            </h1>

          </div>
          <p class="text">
            Ikatan Remaja lingkungan tempat tinggal
          </p>
        </div>
  
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Prestasi
              <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div>
            </h1>

          </div>
          <p class="text">
            Masuk Fasilkom UI
          </p>
        </div>
      </div>
</main>
  </body>

{% endblock content %}