<html>
    {% extends "home/base.html" %}
    {% load static %}
    {% block content %}
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="{% static 'stylesearch.css' %}" rel="stylesheet" type="text/css">

    </head>

    <body>
        <main class="container">
        <div class="jodol">
            Story 8 Rizky Musyaffa Fajari
        </div>
        <input id="search" placeholder="Masukkan Kata Kunci">
        <br><br><br>
        <br>
        <table class="table" id="daftar">

        </table>

        </main>
    </body>

    <script type="text/javascript">
        $('#search').keyup( function(){
            var searchku = $("#search").val();
            var header = '<thead class="thead-dark"> <tr><th> Title</th><th> Author</th> <th> Cover </th></tr> </thead>'

            $.ajax({
                url: "data/?q="+searchku,
                success: function(data){
                    var array_items = data.items;
                    $("#daftar").empty();
                    $("#daftar").append(header);
                    for(i=0; i<array_items.length;i++){
                        var judul = array_items[i].volumeInfo.title;
                        var author = array_items[i].volumeInfo.authors;
                        var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                        $("#daftar").append("<tr> <td> "+judul+"</td> <td>" + author +"</td> <td><img src="+ gambar+"</td></tr>")
                    }
                }
            });
        });
    </script>
    {% endblock content %}
</html>