
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=David+Libre&family=Dosis&family=Open+Sans:ital,wght@0,400;1,300&family=Piazzolla:ital,wght@0,100;1,200&family=Roboto+Mono:wght@300&display=swap');

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
  }

header,section{
    overflow-x:hidden;
}

#moree {
    background: #CADCD5;

}
#more{
    color: white;
    padding-top: 15vw;
    padding-bottom: 23vw;
}
#bgcolor{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(92,92,224,1) 35%, rgba(40,160,242,1) 72%, rgba(29,175,246,1) 80%, rgba(0,212,255,1) 100%);

}
header .container-fluid .row .col-md-4{
    font-size: 2.3vw;
    font-family: "Roboto+Mono"
}
header .nav-item:last-child{
    padding-right: 5em;
}

header .navbar-brand{
    padding-left: 3em;
}



#bubble{
    position: absolute;
    left: 50vw;
    top: 10vw;
}
#welcome{
    position: absolute;
    left: 50vw;
    top: 20vw;
    transform: rotate(-10deg);
}
.icon{
    width: 4%;
}

#insta{
    position: absolute;
    top:0%;

}
#line{
    position: absolute;
    top:8.4%;
}
#steam{
    position: absolute;
    top:16.8%;
}

/*Bio*/

.section-1{
    padding:20vmin 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(104, 183, 201, 0.38) 0%, rgba(104, 182, 201, 0.358229) 76.04%, rgba(114, 162, 205, 0) 100%);
    background-blend-mode: normal, multiply;
}

.section-1 .row .col-md-6 .profile img{
    opacity: 0.9;
    width:80%;
    box-shadow: 0px 5vmin 5vmin rgb(0,0,0,2);
    border-radius: 9vmin;
}
.section-1 .row .col-md-6:last-child{
    position: relative;
}
.section-1 .row .col-md-6 .panel{
    position: absolute;
    bottom: -2vw;
    top: 2vw;
    left: -10vw;
    right: 10vw;
    background:linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(104, 183, 201, 0.38) 0%, rgba(104, 182, 201, 0.358229) 76.04%, rgba(114, 162, 205, 0) 100%);
    background-blend-mode: normal, multiply;
    border-radius: 2vw;
    text-align:left;
    padding: 5vw 2vw 8vw 5vw;
    box-shadow:   0vmin 5vmin 5vmin rgb(0,0,0,2);
    font-family: 'Piazolla'; font-size: 2vw;
}
.section-1{
    color: rgb(9, 9, 82);
}
#card{
    opacity: 0.8;
}
.card{
    font-size: 1.5vw;

}
#card1,#card2{
    padding-bottom: 10vw;
    
}
#table2{
    text-align: center;
}
.card-body{
    background: whitesmoke;
}
.card-body .mb-3{
    font-size: 3vw;
}
.card-body .mb-1{
    font-size: 1.5vw;
}
#button1{
    position: absolute;
    width:50%;
    right: 9vw;
    top:15vw;
}
#arrow1{
    width:8%;
    position: absolute;
    top: 20.5vw;
    right:16vw;
}
#nav_bar .active {
    color:            #F8F8F8;
    background-color: #4f81bd;
}
footer{
    background-color: #206394;
    color: white;
    padding-bottom: 3vw;
}
#brandfoot{
    text-align: center;
    padding-top: 2vw;
    padding-right: 3vw;
}
