h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-top: 100px;
}
tr,td {
    font-family: cursive;
    font-size: 150%;
    border-bottom: 1px solid gray;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius:50%;
}